title Ctrl Panel

.container 
    include ../shopnav 

.container.mt-5
    .row.d-flex.justify-content-center 
        .col-md-7
            .card.p-3.py-4 
                .text-center 
                    form(action="/admin/ctrl" method="post")
                        .form-group
                            .h4 tools 
                            .input-group.mt-3 
                                .input-group-prepend 
                                    span.input-group-text DNS
                                .input-group-prepend 
                                    span.input-group-text $
                                input(class="form-control" placeholder="Enter domain" name="domain")
                        .form-group 
                            textarea(style="margin-top: 10px; width: 100%; resize: none; background-color: gray; color: white;" readonly="readonly" rows=10) #{nsResult}
                            
link(rel="stylesheet", href="/stylesheets/shopStyle.css")                
link(rel="stylesheet", href="/stylesheets/user_profileStyle.css")
link(rel="stylesheet", href="/stylesheets/bootstrap.css")
script(src="/javascripts/bootstrap/bootstrap.bundle.min.js") 
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")