title Login

body 
    .container 
        h2.page-header Login
        p Please login
        form(name="f" method="post" onSubmit="return checker()" action="/api/auth/login/v")
            //- userName
            div(class="form-group" style="margin-top: 20px;") 
                lable(for="userName") Name
                input(type="text" class="form-control" name="userName" id="userName" placeholder="Your Name")
            //- password
            div(class="form-group" style="margin-top: 20px;")
                lable(for="password") Password
                input(type="password" class="form-control" name="password" id="password" placeholder="Password") 
                //- submit btn
            div(class="form-group" style="margin-top: 20px;")
                button(type="submit" class="btn btn-primary") Login
                a(href="/users/register" style="text-decoration: none; float: right;")
                    span Not a Member ? Join now !
    

script(src="/javascripts/loginCheck.js") 
link(rel="stylesheet", href="/stylesheets/bootstrap.css")