//- header 
header.bg-dark.py-5 
    .container.px-4.px-lg-5.my-5 
        .text-center.text-white
            h1.display-4.fw-bolder 高品質 多選擇 好服務
            p.lead.fw-normal.text-light-50.mb-0 全魔國聯邦最優的工坊
