title Magic Mills

body
    //- shop navigation
    .container
        include shopnav
                
    //- shop header
    include shopheader

    //- shop display section
    include shopgoods
    
    //- shop footer
    include shopfooter

    
link(rel="stylesheet", href="/stylesheets/shopStyle.css")
link(rel="stylesheet", href="/stylesheets/bootstrap.css")