.col.mb-5
    .card.h-100
        img.card-img-top(src='./images/mask.jpg', alt='...')
        .card-body.p-4
            .text-center
                // Product name
                h5.fw-bolder 抗魔面具
                // Product price
                | $ 5000000
            // Product actions
            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                .text-center
                    if toShow == '登入'
                        a.btn.btn-outline-dark.mt-auto(href='/api/auth/login') More Info
                    else 
                        a.btn.btn-outline-dark.mt-auto(href='/shop/buy/2') More Info